/*--------------------------------------Body-------------------------------------------*/

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}

#bodyimg{
    height: 350px;
    margin-bottom: 3rem;
}

/*--------------------------------------Navbar-------------------------------------------*/

#navsection{
  font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-brand{
    margin-left: 0.5rem;
    font-size: 2.5rem;
    color: #f7f7ee;
      font-weight:400;
}

.topnavitem > a{
  color:#f7f7ee;
}

.navbar-brand > img{
  margin-right: 0.5rem;

}

.navbar .navbar-brand:hover{
    text-decoration: underline;
}

.topnav .nav-item{
    list-style-type: none;
    padding: 1rem;
    flex-direction: row;
    text-align:left;
    flex-wrap: wrap; /* assumes you only want one row */
    font-size: 22px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}

.topnav a:hover{
  text-decoration: underline;
}

.topnav{
  background-color: #f58634;
}


#navrule{
  margin-top:0rem;
  margin-bottom: 0rem;
  height:0.2rem;
  
  color:#f7f7ee;
}
#special{
  background-color:white;
}

  /*----------------------------------Mainpage-Carousel------------------------------------*/

#imgcarouselsection{
  background-color: #b6eb7a;
  padding-top: 0.65rem;
  padding-bottom:2rem;
}
.carousel{
  width:100%;
}
.carousel-item > img {
  width:900px;
  height:600px;
}

.ratinglogo{
  width:25%;
  margin-top: 30%;

}
.starrating{
  margin-top:1.2rem;
  margin-bottom: 2rem;
  height:auto;
  width:80%;
}
.reviewtext{
  font-size: 1rem;
  color: #0a043c;
  font-style: italic;
}
/*----------------------------------"Our-Services-Main-Page"------------------------------------*/

#ourservices{
  padding: 0 0 0 0;
  margin:0 0 0 0 ;
}

  /*----------------------------------"Special-Events-Main-Page"------------------------------------*/

.SpecialEvents .SE h1{
  color: #f58634;
  text-align:center;
  margin-bottom: 8rem;
  margin-top:8rem;
  margin-left:2rem;
  font-size: 4.35rem;
}

.ourservicesSE{
text-align: center;
margin: 0 auto 0 auto;
padding: 0 0.5rem 0 0.5rem;
width: 100%;

}

.SpecialEvents{
  padding:  0 0 0 0;
}

.EventIcon{
  width:18%;
  height:auto;
}
.EventIcon:hover{
  width:22%;
}
.WeddingRow, 
.BabyShowerRow, 
.GenderRevealRow,
.EngagementRow, 
.GraduationRow,
.BachelorRow, 
.FamilyRow, 
.ReunionRow{
  width: 100%;
}

.SE a{
  font-weight: 800;
  color:#162447;
  font-size: 1.5rem;
}
.SE a:hover{
  font-weight: 800;
  color:#f58634;
  text-decoration: none;
}


.GenderRevealRow,
.GraduationRow,
.FamilyRow,.WeddingRow{
  text-align: right;
  float:right;
  margin-bottom:1.5rem;

}
.BabyShowerRow,.EngagementRow,
.BachelorRow, .ReunionRow{
  text-align:left;
  float:left;
  margin-bottom: 1.5rem;
}

.BabyShowerRow img,.EngagementRow img,
.BachelorRow img, .ReunionRow img{
  margin-right: 1rem;
  margin-left: 3rem;
}

.WeddingRow img,
.GenderRevealRow img, 
.GraduationRow img,
.FamilyRow img{
  margin-left: 1rem;
  margin-right: 3rem;
}

.specialeventcontact{
  color: #162447;
  font-weight:600;
  font-style: italic;
  font-size: 1.3rem;
}

.specialeventcontact:hover{
    text-decoration: none;
    font-weight:500;
    color:#f58634;
}

.EventsBottom .EventsBottomText{
  color:#162447;
  font-size:1.3rem;
  margin-top:2rem ;
  margin-bottom: 5rem;
}
.EventsBottomText a{
  font-size: 1.3rem;
}

  /*----------------------------------"Rooms-Main-Page"-----------------------------------------------*/

.RoomsTitleRow .Rooms{
  text-align:center;
  margin-bottom: 2rem;
  margin-top:8rem;
  margin-left:1rem;
  font-size: 4.35rem;
  color:#f58634;
}

.RoomDetails{
  border-bottom: 5px solid #a6a9b6;
  border-right:5px solid #a6a9b6;
  width:325px;
  margin-left:0px;
  margin-right:0px;
  padding: 0 0 0 0;
}

.RoomHeader{
  font-size: 30px;
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-weight:800;
  color: #162447;;
}

.RoomCol{
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  margin-bottom:2rem;
  display:inline;
}

.RoomRow{
 text-align: center;
 margin:  0 auto 0 auto;
 padding: 0 15% 0 15%;
}

.RoomFooterButton{
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom:2rem;
  margin-top:0.65rem;
  padding: 0.6rem 3.2rem 0.6rem 3.2rem;
  background-color:#f58634;

  color: #f7f7ee;
}

.RoomFooterButton:hover{
  -webkit-border-radius:15px;
  border-radius: 15px;
  background-color:#f58634;
  border-color:#f58634;
  color: #f7f7ee;

}

.ourservicesRms div table tbody tr td{
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left:0.85rem;
  color: #162447;
  font-weight: bold;
  text-align:  left;
}

.PricingPreview{
  color: #206a5d;
  margin-top: 1.5rem;
  font-weight: lighter;
  font-size: 1.2rem;
  font-style: italic ;
}

  /*----------------------------------"Conferences-Main-Page"------------------------------------*/

.ConfTitleRow .Conferences {
  text-align:center;
  margin-bottom: 6rem;
  margin-top:7rem;
  margin-left:1rem;
  font-size: 4.35rem;
  color:#f58634;
}

.Confinclude {
  font-size: 1.2rem;
  font-weight: 600;
  color: #162447;
  margin-bottom:6rem;
}

.ConfDetails{
  border-bottom: 5px solid #a6a9b6;
  border-right:5px solid #a6a9b6;
  width:300px;
  margin-left:0px;
  margin-right:0px;
  padding: 0 0 0 0;
}

.ConfHeader{
  font-size: 30px;
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-weight:800;
  color: #162447;
}

.ConfCol{
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  margin-bottom:5rem;
  display:inline;
}

.ConfRow{
 text-align: center;
 margin:  0 auto 0 auto;
 padding: 0 15% 0 15%;
}

.ConfFooterButton{
  font-size: 1.55rem;
  font-weight: 800;
  margin-bottom:2rem;
  margin-top:2rem;
  padding: 0.6rem 3.2rem 0.6rem 3.2rem;
  background-color:#f58634;

  color: #f7f7ee;
}

.ConfFooterButton:hover{
  -webkit-border-radius:15px;
  border-radius: 15px;
  background-color:#f58634;
  border-color:#f58634;
  color: #f7f7ee;

}

.ourservicesConf div table tbody tr td{
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left:0.85rem;
  text-align:  left;
}

.ConfPricingPreview{
  color: #162447;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic ;
}

.Confinclude .ConfIncludetext > a{
  color: #162447;
  font-weight: bold;
}

.Confinclude .ConfIncludetext > a:hover{
  text-decoration: none;
  color: #f58634;
  font-style: italic;
}

/*-------------------------------------"Site-Footer"-------------------------------------*/
.SiteFooter{
  background-color:#f58634 ;
  padding: 2rem 5rem 1.5rem 5rem;
  text-align:left;

}

.SiteFooter a{
  color: #f7f7ee;
 /* assumes you only want one row */
 
}

.SiteFooter .footerTable{
  border-collapse:separate; 
  border-spacing: 0 auto 0.65rem auto;
}

.footerTable .footerTableHead a{
  text-align:left;
  font-size:1rem;
}

.footerTable .footerTableBody a{
  text-align:left;
  font-size:0.75rem;
}

/*--------------------------------------"About"-------------------------------------------- */

.GTitleRow .Rooms{
  text-align:center;
  margin-bottom: 3rem;
  margin-top:4rem;
  margin-left:1rem;
  font-size: 4.35rem;
  color:#f58634;
}

.LocationIcon{
  width:55%;
  height:auto;
}

.LocationRow{
  text-align: center;
  margin:  0 auto 0 auto;
  padding: 2rem;
 }

 .cols{
  border-style: outset;
  color:#f58634;
  margin-bottom: 3rem;
 }

 .cols .norm{
  color:#f58634;
  font-size: 1.5rem;
  font-weight: 500;
 }

.coltext{
  color:#162447;
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem;
}

.footer{
  margin-top: 3rem;
  background-color: #ffc478;
}

/*--------------------------------------"Contact"-------------------------------------------- */


.contact-section{
  padding: 2rem;
}

.contact-section .container h2{
  text-align:center;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 2rem;
  margin-top:2rem;
  margin-left:1rem;
  font-size: 4rem;
  color:#f58634;
}

.contact-section .container p{
  text-align: center; 
  width: 70%; 
  margin-left: auto;
  margin-right: auto; 
  letter-spacing:.2rem;
}

.contact-form i.fa{
  font-size: 1.3rem; 
  padding: 1rem;
  border-radius: 80%;
  margin: .6rem;
  cursor: pointer;
  border:2px solid #ffc478;
  color: #ffc478;
  height: auto;
  width: 15vh;
}

.contact-form i.fa:hover{
  cursor: pointer;
  border:2px solid #ec8b0b;
  color: #ec8b0b;
}

.contact-form{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  word-wrap: break-word;
}
  
.form-info{
  font-size: 1.3rem;   
  font-style: italic;
  letter-spacing: .2rem;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}


.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input, .form-group textarea{
  padding: 10px;
  margin:10px;
  width: 70%;
  font-size: 18px;
  border: none;
  outline:none;
  margin-top: 5px;
  background-color: #ffe8cb;
  color: #162447;
}

textarea{
  resize: vertical;
}

input::placeholder{
  color: #ec8b0b;
}

textarea::placeholder{
  color: #ec8b0b;
}

button[type="submit"]{
  width: 50%;
  background: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .2rem;
  height: 3.5rem;
  text-align: center;
  cursor: pointer;
  margin: 3%;
  border:3px solid #ec8b0b;
  color: #ffc478;
  border-radius: 8px;
  transition: .3s ease background-color;
  width: auto;
}

button[type="submit"]:hover{
  border: 2px solid #ec8b0b;
  color: #ec8b0b;
  background-color: #ffc478;
  cursor: pointer;
}

.contact-section .col{
  padding: 1rem;
}

#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  color: white;
}

#status.success{
  background-color: #7cc51c;
  animation: status 4s ease  forwards;
}

#status.error{
  background-color: #e47011;
  animation: status 4s ease  forwards;
}

ol{
  padding: 2.5rem;
  text-align: left;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}


/*--------------------------------------"Our-Services-Special-Events"-------------------------------------------- */

.servicePageSpecialEvents{
  margin-bottom: 5rem;
}

.servicePageHeaderRow{
    text-align: center;
}

.servicesspecialeventsheader{
  text-align:center;
  margin-bottom: 6rem;
  margin-top:4rem;
  font-size: 4.35rem;
  color:#f58634;
}

.servicesspecialeventrow{
  text-align: center;
  font-size: 2rem;
  font-weight:600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #162447;;
}

.servicesspecialeventimage{
  width:40%;
  margin-right:10%;
  margin-left: 10%;
}

.servicesspecialeventimage:hover{
  width:45%;
}

.eventFooterWarning{
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom:2rem;
  margin-top:6rem;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  background-color:#f58634;
  color: #f7f7ee;
}

.eventFooterWarning:hover{
  -webkit-border-radius:15px;
  border-radius: 15px;
  background-color:#f58634;
  border-color:#b6eb7a;
  color: #f7f7ee;
  background-color: #b6eb7a;
}

/*--------------------------------------"Our-Services-Rooms"-------------------------------------------- */

.roomPricing{
  color: #206a5d;
  margin-top: 1.5rem;
  font-weight: lighter;
  font-size: 1.2rem;
  font-style: italic ;
  }

.servicesRoomsTitleRow .servicesRooms{
  text-align:center;
  margin-bottom: 2rem;
  margin-top:4rem;
  margin-left:1rem;
  font-size: 4.35rem;
  color:#f58634;
}

.servicesRoomHeader{
  font-size: 2rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  font-weight:800;
  color: #162447;;
}

.servicesRoomCol{
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem;
  margin-bottom:2rem;
  display:inline;
}

.servicesRoomRow{
 text-align: center;
 margin:  0 auto 0 auto;
 padding: 0 15% 0 15%;
}

.servicesRoomFooterButton{
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom:2rem;
  margin-top:0.65rem;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  background-color:#f58634;
  color: #f7f7ee;
}

.servicesRoomFooterButton:hover{
  -webkit-border-radius:15px;
  border-radius: 15px;
  background-color:#f58634;
  border-color:#b6eb7a;
  color: #f7f7ee;
  background-color: #b6eb7a;

}

.servicesRoomRow div table tbody tr td{
  font-size: 1.1rem;
  color: #162447;
  font-weight:bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left:0.85rem;
  text-align: left;
}

.servicesRoomDetails{
  line-height:2.5rem;
  border-bottom: 5px solid #a6a9b6;
  border-right: 5px solid #a6a9b6;
  width:320px;
  margin-left:0px;
  margin-right:0px;
  padding: 0 0 0 0;
}

.roomhr{
  border-top: 0.45rem dotted #a6a9b6;
  width: 25%;
  border-bottom: none;
}

.servicesRoomRow div table tbody tr .priceHeader{
  text-align: center;
  font-size: 2rem;
  font-weight:800;
  color: #162447;;
}

.servicesRoomRow div table tbody tr .roomPricing{
  font-size: 1.3rem;
  padding-right: 0.15rem;
  padding-bottom: 1.45rem;
  color: #162447;
  text-align: center;
}

.servicesRoomRow div table tbody tr .roomPriceNumber{
  font-size: 2.5rem;
  color:#162447;
}

.servicesRoomExtraText{
  text-align: center;
  font-size: 1.2rem;
  font-weight:600;
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #162447;;
}

/*--------------------------------------"Our-Services-Conferences"-------------------------------------------- */

.servicesMealRates{
  text-align: center;
  border-bottom: 5px solid #a6a9b6;
  border-right: 5px solid #a6a9b6;
  border-left: 2px solid #dddddd;
  border-top:2px solid #dddddd;
  
  width:100%;
  margin-left:0px;
  margin-right:0px;
  padding: 0 0 0 0;
}

.mealType{
  font-weight: 400;
  font-size: 1.4rem;;
}

.mealCost{
  font-size: 2.3rem;
}

.mealCostSubtext{
  font-size: 1rem;
}

/*--------------------------------------"Our-Services-Weddings"-------------------------------------------- */

.servicesWeddingsTitleRow .servicesWeddingsTitle{
  text-align:center;
  margin-bottom: 4rem;
  margin-top:4rem;
  font-size: 4.35rem;
  color:#f58634;
}

.servicesWeddingsCol{
  padding-left:15%;
  padding-right:15%;
}

.servicesWeddingsCol .weddingExtraText .weddingPackage{
  font-weight:800;
}

.servicesWeddingsRow .servicesWeddingsCol .weddingExtraText{
  font-weight:600;
  font-size:1.2rem;
}

.weddingTOS{
  text-align:left;
  font-weight:600;
  font-size:1.1rem;
  margin-bottom:5rem;
}

.servicesWeddingsDetails{
  color: #162447;
  font-weight:800;
  font-size:1.4rem;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:4rem;
  margin-top:4rem;
  padding: 0 4rem 0 4rem;
}

.servicesWeddingsDetailsPointL{
  margin-right: 1rem;
  text-align: left;
}.servicesWeddingsDetailsPointM{
  margin-right: 1rem;
  text-align: center;
}.servicesWeddingsDetailsPointR{
  margin-right: 1rem;
  text-align: right;
}


.servicesWeddingsDetailsPointL:hover{
  color: #e47011;
  font-size:1.6rem;
}
.servicesWeddingsDetailsPointM:hover{
  color: #e47011;
  font-size:1.6rem;
}
.servicesWeddingsDetailsPointR:hover{
  color: #e47011;
  font-size:1.6rem;
}


/*--------------------------------------"Terms-Of-Service"-------------------------------------------- */

.TOSlist{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  color:#d44000;
}
.TOSlistOb{
  margin-bottom:1rem;
}

